{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}

{% block body %}
<body>



    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">About Us</h1>
        <p class="lead font-weight-normal">Sweets All Around is a new celebratory venture for amazing sweets that fittingly puts the spotlight on the sweets that shaped all our happy occasions. However, it’s not mithai as we know it.

Staying true to their ethos of ‘Re-creation’, the thought that has driven looked at Indian sweets and the tradition of gifting sweets through a new lens of play. The team scoured India, gathering knowledge, recipes and imbibing techniques from the masters.

At the sweet shop, our chefs turned these traditions on their head to create sweets that may look and sound familiar but prompt surprise and wonder through both presentation and flavours.</p>

      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>

{% endblock body %}