{% extends 'base.html' %}

{% block title %}
Menu
{% endblock title %}

{% block body %}
<div class="container my=4">
  <h1 class="my=2"  style="background-color: black;color: white;text-align: center;line-height: 1.8">Select from our range of Sweets</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/gulab jamun.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text">Gulab jamun are soft delicious berry sized balls made with milk solids, flour & a leavening agent. These are soaked in rose flavored sugar syrup.<div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/rasmalai.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text">Rasmalai is a Classic Indian dessert consisting of juicy cheese discs served with thickened milk, a classic and traditional Indian dessert recipe made with milk solids and soaked in sweetened milk rabdi.<div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="static/peda.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text">Peda is a delicious Indian sweet made with full fat milk and sugar. This fudge like sweet is delicately flavored with cardamom powder and saffron.<div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/chocolate cake.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text">A chocolate cake is a cake made with chocolate or cocoa.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/pineapplecake.png" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text">Cake made from scratch with crushed pineapple and topped with luscious cream cheese frosting.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/icecream.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text"> Ice cream, a frozen dessert made from milk or cream that has been flavoured with a sweetener, either sugar or an alternative, available with a spice, cocoa or vanilla, or with fruit as strawberries or peaches. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/gulabjamuntrifle.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text"> Gulab Jamun Trifle is a rich, delicious, cold dessert prepared with layers of custard and gulab jamun. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Not Available</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/motichoor ladoo parfait.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text">Motichoor Rabri Parfait — velvety and creamy, this easy dessert features layers of cardamom-infused rabri, cottage cheese, mango pulp and crumbled ladoo</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/burficheesecakes.jpg" class="d-block w-100" alt="..." style="width:300px;height:300px">
            <div class="card-body">
              <p class="card-text">Burfi Cheesecake are no-bake, delectable, and classic dessert or sweet with layers of cheesecake,barfi chunks, and a buttery crust using your favorite biscuits which will melt in your mouth.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}